## PROG8245 Assignment 1: (Total Marks 100)
## Start on 16th of September- Due on 27th of September

- TODO: write your name and ID below
- Name: Tai Siang Huang
- ID: 9006413
- Kindly note that this assignment is to be solved by yourself, without the use of AI and chatbots.
- If chatbot usage is detected, the penalty that is discussed in Week 1 slides will apply.
- Each code block will have a Todo comment which explains the functionality, expected input, and expected output of the function.
- There are 10 marks in this assignment for assuring that the code couldn't be broken (no errors can be thrown, please consider mathematical and logical errors)
- There are 10 marks in this assignment for commenting and code readability.

### Part 1: Python Basics

#### Question 1:

In [2]:

def total_price(price, tax) :
    # 3 marks
    # TODO: write the functionality of the code where
    #  you are taking as an input a price of an item and the
    #  tax in decimal (13% tax will be given as 0.13),
    #  you should return the taxedPrice of that item
    #  which will be the total price after tax a customer must pay
    # (The price of the item plus the applicable taxes)

    # valid price and tax are > 0
    if price < 0 or tax < 0:
        return 'error: price and tax must be positive value'

    total = price + (price * tax)
    # calculate taxed price formated to 2 decimal 
    return total.__format__('.2f')

#### Question 2:

In [3]:
def divisible_by(x, y):
    # 3 marks
    # TODO: write a function that returns True if x is divisible by y,
    #  and returns False OTHERWISE (all other cases).

    if x % y == 0:
        return True

    return False

#### Question 3:

In [4]:
def basic_calculator(x, y, operator):
    # 5 marks
    # TODO: write the functionality of the code where you are
    #  coding a basic calculator that performs basic addition "+", subtraction "-",
    #  multiplication "*", division "/", modulus "%" and integer division "//"
    #  the function must apply the operator to x and y for example:
    #  basicCalculator(10, 15, "*") should apply 10*15 and save it to the result variable
    #  NOTE: YOU NEED TO HANDLE DIVISION ERRORS BY RETURNING A STRING WITH THE WORD "error"
    #  NOTE: YOU NEED TO HANDLE AN INVALID OPERATOR BY RETURNING A STRING HAVING THE WORD "invalid"

    try:
        match operator:
            case '+':
                return x + y
            case '-':
                return x - y
            case '*':
                return x * y
            case '%':
                return x % y
            case '/':
                return x / y
            case '//':
                return x // y
            case _:
                return 'invalid'
    except ZeroDivisionError:
        return 'error'
    except:
        return 'invalid'

    return 0

'invalid'

#### Question 4:

In [14]:
def sum_of_even(numbers_list):
    # 3 marks
    # TODO: write the functionality of the code where you are
    # taking as an input a list of numbers
    # returning the sum of even numbers in the list
    # NOTE: YOU NEED TO HANDLE ERRORS OF GIVING LIST OF STRINGS OR/AND
    #  STRINGS WITH NUMBERS by returning "invalid"
    # sum_of_even([1,2,3,4,5,6]) = 12

    try:
        sum = 0
        for number in numbers_list:
            if number % 2 == 0:
                sum += number

        return sum
    except TypeError:
        return 'invalid'
    except:
        return 'invalid'
    

sum_of_even([1,2,3,4,5,6,7,8,9,10]) # 30

30

#### Question 5:

In [22]:
def reverse_string(input_string):
    # 3 marks
    # TODO: write the functionality of the code where you are
    # taking as an input a string
    # returns the reverse of the string
    # reverse_string("hello") = "olleh"
    # NOTE: Numbers should be handled as strings ex: 123 returns "321"

    try:
        # change number to string
        input_string = str(input_string)
        return input_string[::-1]
    except:
        return 'invalid'

reverse_string(123) # 321

'321'

#### Question 6:

In [21]:
def diamond_string(length):
    # 5 marks
    # TODO: write the functionality of the code where you are
    # taking as an input a POSITIVE ODD length
    # saves in a string the diamond as follows:
    # diamond_string(5)
    #   *
    #  ***
    # *****
    #  ***
    #   *
    # NOTE: The input must be positive odd, if not return empty string ""   

    # valid length is positive odd number
    if length % 2 == 0 or length < 0:
        return ""
    
    array = []
    for i in range(1, length+1, 2):
        insert_word = '*' * i
        array.append(insert_word.center(length))

    for i in range(length-2, 0, -2):
        insert_word = '*' * i
        array.append(insert_word.center(length))

    return '\n'.join(array)

print(diamond_string(7))

   *
  ***
 *****
*******
 *****
  ***
   *

#### Question 7:

In [40]:
def longest_consecutive_subarray(number_array):
    # 8 marks
    # TODO: write the functionality of the code where you are
    # taking as an input an array of REAL NUMBERS
    # return the length of the longest subarray that could be
    # built using the input
    # longest_consecutive_subarray([100, 4, 200, 1, 3, 2]) = 4
    # Function should return 4 which represents in this case
    # the longest_consecutive_subarray that could be built [1,2,3,4]
    # You can't use Built in Sorting!
    # Note: - If any error exists in the input, "error" should be returned
    #       - The difference between any 2 consecuetive numbers is 1.

    # quick sort
    def quick_sort(number_array):
        if len(number_array) <= 1:
            return number_array
        pivot = number_array[0]
        left = []
        right = []
        for i in range(1, len(number_array)):
            if number_array[i] <= pivot:
                left.append(number_array[i])
            else:
                right.append(number_array[i])
        # print(left, right)
        return quick_sort(left) + [pivot] + quick_sort(right)
    
    # valid input all real numbers
    for number in number_array:
        if not isinstance(number, (int, float)):
            return 'error'

    try:
        sorted_array = quick_sort(number_array)
        print(sorted_array)
        for i in range(1,len(sorted_array)):
            if sorted_array[i] != i + sorted_array[0]:
                return i # return the length
    except:
        return 'error'
 

longest_consecutive_subarray([100, 4, 200, 1, 3, 5, -1, 0, 2.2])

[-1, 0, 1, 2.2, 3, 4, 5, 100, 200]

3

#### Question 8 (Challenging):

In [83]:
def can_be_segmented(input_string, word_dict):
    # 15 marks
    # TODO: Write the functionality of the code where you
    # are given as an input a string and a word_dict
    # Your target is to return True, if input_string can be segmented
    # (broken-down) into a sequence of one or more dictionary words
    # otherwise return False
    # Sample Input: can_be_segmented("applepenapple", {'apple','pen'}) ==> True
    # Sample Input: can_be_segmented("catsandog", {'cats','dog','sand','and','cat'}) ==> False
    # Hint: You can start by checking which prefix exist in the dictionary, and call the same function recursively
    # on the remaining string.
    check_every_loop = []

    def remove_prefix(input_string, word, word_dict):
        after_remove_prefix = ''
        # check if word is prefix of input_string
        if input_string.startswith(word):
            after_remove_prefix = input_string[len(word):]
            check_prefix(after_remove_prefix, word_dict)
        else:
            check_every_loop.append(False)


    def check_prefix(input_string, word_dict):
        # print(input_string+'///')
        if input_string == '':
            check_every_loop.append(True)

        # loop through word_dict, try every tree branch
        for word in word_dict:
            # print(word)
            remove_prefix(input_string, word, word_dict)
        check_every_loop.append(False)
        


    check_prefix(input_string, word_dict)
            
    # print(check_every_loop)
    # any True in check_every_loop return True
    if True in check_every_loop:
        return True
    return False

# can_be_segmented("applepenapple", {'apple','pen'}) # True
# can_be_segmented("catsandog", {'cats','dog','sand','and','cat'}) # False
can_be_segmented("catsandog", {'cats','dog','sand','an','cat'}) # True

True

### Part 2: Numpy Basics: 
- In this Part of the assignment, you are <b>ONLY ALLOWED</b> to use Numpy and its functions. 
- You are not expected to use Loops.

In [2]:
import numpy as np

#### Question 9:

In [7]:
def no_zeros(array_input):
    # 3 marks
    ## TODO: This function should return True if 
    ## numpy array arrayInput does not contain any zero
    ## and will return False otherwise.
    ## Implement this function using ONLY numpy methods
    ## Sample input: np.array([1,2,3,4,5,6,0]) Sample Output: False
    ## Sample input: np.array([1,2,3,4,5,6]) Sample Output: True

    if np.any(array_input == 0):
        return False
    return True

no_zeros(np.array([1,2,3,4,5,6,0])) # False

False

#### Question 10:

In [16]:
def two_dimensions(n):
    # 7 marks
    ## TODO: This function should create a 2d Array of shape n*n for any positive number
    ## Where the borders of the array are ones
    ## all other elements are zero
    ## Implement this function using ONLY numpy methods
    ## Sample input 3
    ## sample output [[1,1,1],[1,0,1],[1,1,1]]

    # 111
    # 101
    # 111

    # 1111
    # 1001
    # 1001
    # 1111

    # fill all array with 1
    array = np.ones((n,n), dtype=int)
    # replace middle with 0
    for i in range(1,n-1):
        array[i][1:n-1] = 0


    return array

    
two_dimensions(5)

array([[1, 1, 1, 1, 1],
       [1, 0, 0, 0, 1],
       [1, 0, 0, 0, 1],
       [1, 0, 0, 0, 1],
       [1, 1, 1, 1, 1]])

#### Question 11:

In [18]:
def random_generation(n,min,max):
    # 5 marks
    # TODO: Write a function that takes as an input
    # Dimension of 2d Array n, min and max
    # Generate an n*n array with random numbers between
    # min and max inclusive
    # Such that no element is duplicated
    # return numpy array
    # Implement this function using ONLY numpy methods
    # Sample Input: random_generation(3,0,12) --> [[4,2,6],[1,5,11],[10, 3,9]]

    return np.random.randint(min, max, size=(n,n))

random_generation(3,0,12)

array([[ 1,  7,  6],
       [ 5, 10,  5],
       [10,  2,  0]], dtype=int32)

#### Question 12:

In [30]:
def matrix_border_sum(matrix):
    # 8 marks
    # TODO: Write a function that takes as an input a matrix
    # and return the sum of all elements in the borders
    # Implement this function using ONLY numpy methods
    # Sample Input: np.array([[1,2,3],
    #                         [4,5,6],
    #                         [7,8,9]])
    # Output: matrix_border_sum(matrix) =  1+2+3+4+6+7+8+9 = 40

    # replace middle with 0
    for i in range(1, len(matrix)-1):
        matrix[i][1:len(matrix)-1] = 0

    # combine to 1d array
    matrix = matrix.ravel()
    return np.sum(matrix, dtype=int)    

    
matrix_border_sum(np.array([[1,2,3],[4,5,6],[7,8,9]]))

np.int64(40)

### Part 3: Pandas

In [45]:
import pandas as pd
df = pd.read_csv('RegularSeasonCompactResults.csv')
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

#### Question 13 (12 marks): 
- Using RegularSeasonCompactResults.csv and Teams.csv apply the following functionalities

In [47]:
# Using RegularSeasonCompactResults.csv
# 1- Create a filter to show if there are any draw matches
# 2- Apply the filter to the dataframe
# 3- SHOW/PRINT the dataframe length or count (4 marks)
## TODO: Your code should be here

df_filter = df[df['Wscore'] == df['Lscore']]
len(df_filter)

0

In [52]:
# Using RegularSeasonCompactResults.csv
# 1- Create a filter showing the entries where the winningteamID= 1400- (last two digits of your id)
# 2- Create another filter for the season of 2013
# 3- Apply the filter  to the dataframe
# 4- Show the resulted dataframe (4 marks)
# (Example: IF your id is 8000021, the winning team id = 1400-21= 1379)
# TODO: Your code should be here

df['winningteamID'] = 1400 - df.index % 100
df_season_2013 = df[(df['Season'] == 2013)]

print(df.head() , '\n',df_season_2013.head())

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  winningteamID
0    1985      20   1228      81   1328      64    N      0           1400
1    1985      25   1106      77   1354      70    H      0           1399
2    1985      25   1112      63   1223      56    H      0           1398
3    1985      25   1165      70   1432      54    H      0           1397
4    1985      25   1192      86   1447      74    H      0           1396
         Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  \
123884    2013       4   1104      70   1355      67    H      0
123885    2013       4   1107      69   1182      66    H      0
123886    2013       4   1114      84   1404      68    H      0
123887    2013       4   1116      73   1358      68    H      0
123888    2013       4   1120      61   1236      50    H      0

        winningteamID
123884           1316
123885           1315
123886           1314
123887           1313
123888           1312

In [ ]:
# Using RegularSeasonCompactResults.csv & Teams.csv
# 1- Load and merge both dataframes
# 2- Where the merge is on WinningTeamId (RegularSeasonCompactResults) and TeamId (Teams.csv)
# 3- Name the dataframe: DFCombined
# 4- Show the top 3 rows (4 marks)
# TODO: Your code should be here

df_teams = pd.read_csv('Teams.csv')

# merge on winningteamID and Team_Id
df_merged = pd.merge(df, df_teams, left_on='winningteamID', right_on='Team_Id', how='left')
# drop duplicate column
df_merged.drop(columns=['Team_Id'], inplace=True)
df_merged.rename(columns={'winningteamID':'DFCombined'}, inplace=True)

df_merged.head(3)

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,DFCombined,Team_Name
0,1985,20,1228,81,1328,64,N,0,1400,Texas
1,1985,25,1106,77,1354,70,H,0,1399,Tennessee Tech
2,1985,25,1112,63,1223,56,H,0,1398,Tennessee St